footer {
    width: 100%;
    height: 80px;
    color: white;
    background-color: rgba( 1, 1, 1, 0.9);
    .footer-text {
        font-size: 16px;
        line-height: 80px;
        text-align: center;
    }
    @include sp {
        height: 60px;
        .footer-text {
            font-size: 14px;
            line-height: 60px;
        }
    }
}

@include sp {
    .dis {
        display: none;
    }
}