header {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: 'Bradley Hand',sans-serif;
    @include sp {
        height: 60px;
    }
    .header-logo {
        line-height: 80px;
        font-size: 40px;
        opacity: 1;
        @include sp {
            line-height: 60px;
            font-size: 26px;
        }
    }
    .header-nav {
        padding: 0 70px;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            li {
                font-size: 20px;
                line-height: 80px;
                padding-left: 30px;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
        @include tab {
            display: none;
        }
    }
}



.header-wrap {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    .header-container {
        display: flex;
    }
}

.fab {
    font-size: 50px;
    line-height: 80px;
    @include sp {
        font-size: 30px;
        line-height: 60px;
    }
}

.youtube {
    color: #c4302b;
}

.twitter {
    color: #00acee;
    padding-left: 20px;
    @include sp {
        padding-left: 10px;
    }
}