@mixin tab {
    @media screen and (max-width: 1100px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}



.red {
    color: red;
}

.surviver {
    color: #00acee;
}

.hunter {
    color: #c4302b;
}

.main {
    position: absolute;
    top: 100vh;
    width: 100%
}

.more {
    padding: 30px;
    text-align: center;
    padding: 45px;
    border-bottom: 3px solid white;
    opacity: 0.8;
    a {
        font-size: 20px;
    }
}

.wrap {
    padding: 0 5%;
}

.title {
    font-size: 36px;
    text-align: center;
    padding: 90px 0 60px;
    @include sp {
        font-size: 24px;
        padding: 40px;
    }
}

.item {
    width: 30%;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 30px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    .item-img {
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0 0;
        h2 {
            color: #ddd;
            font-size: 20px;
            line-height: 250px;
            text-align: center;
            @include tab {
                line-height: 200px;
            }
        }
    }
    .item-box {
        width: 100%;
        height: 250px;
        border-top: 1px solid black;
        background-color: #ddd;
        border-radius: 0 0 10px 10px;
        .item-title {
            font-size: 24px;
            text-align: center;
            padding-top: 30px;
            color: black;
            @include sp {
                font-size: 20px;
                padding-top: 20px;
            }
        }
        .item-text {
            font-size: 18px;
            color: black;
            padding: 20px 20px 0;
            @include sp {
                font-size: 16px;
                padding: 15px 15px 0;
            }
        }
        .item-author {
            font-size: 16px;
            color: gray;
            padding: 20px 20px 20px;
            @include sp {
                font-size: 14px;
                padding: 15px 15px 15px;
            }
        }
        .item-btn {
            text-align: center;           
            a {
                width: 60%;
                font-size: 18px;
                color: white;
                display: inline-block;
                padding: 8px 20px;
                border-radius: 4px;
                border: 1px solid white;
                @include sp {
                    font-size: 16px;
                    padding: 10px 16px;
                }
            }
        }
    }
    @include tab {
        width: 46%;
        height: 450px;
        .item-img {
            height: 200px;
        }
    }
    @include sp {
        width: 100%;
        height: 400px;
        .item-box {
            height: 200px;
        }
    }
}