#message {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    p {
        font-family: 'HanziPen SC',sans-serif;
        text-align: center;
        font-size: 40px;
        color: white;
        padding-top: 40px;
        opacity: 1;
        font-weight: bold;
        &:first-child {
            padding-top: 200px;
            @include tab {
                padding-top: 150px;
            }
        }
        @include tab {
            font-size: 32px;
        }
        @include sp {
            font-size: 20px;
        }
    }
}